<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원옵션</title>
</head>
<body>
  <h2>회원옵션</h2>
  <form action="{% url 'member:m2' %}" method="post" name="loginFrm">
    {% csrf_token %}
    <label>회원권 번호</label>
    <input type="text" name="mId" id="mId" value="{{mId}}"><br>
    <label>금액</label>
    <input type="text" name="mPrice" id="mPrice" value="{{mPrice}}"><br>
    <label>옵션</label>
    <input type="text" name="option" id="option" value="{{option}}"><br>
    <input type="checkbox" name="saveId" value="1" id="saveP" {% if mId %}checked{% endif %}>
    <label for="saveP">회원정보 저장</label><br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>