<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>simpleMap</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=IOWlgu3VCB5vrfwE0YE0w3e24rgK4g612MZZEILt"></script>
<script type="text/javascript">
	var map;
	var rect;
	var areaSize = 0.003;  // 350m 크기 정도로 설정 (약 0.003 정도)

	// 페이지가 로딩이 된 후 호출하는 함수입니다.
	function initTmap() {
		// map 생성
		map = new Tmapv2.Map("map_div", {
			center: new Tmapv2.LatLng(37.52601356, 126.92827674), // 지도 초기 좌표
			zoom: 16,
			width: "100%", // map의 width 설정
			height: "700px" // map의 height 설정   
		});

		// 일정 간격으로 350m 크기의 사각형 영역을 그리도록 설정
		setInterval(updateCongestionRectangles, 5000);
	}

	// 350m 크기의 사각형 영역에 유동인구 정보를 갱신하고 색상 업데이트
	function updateCongestionRectangles() {
		// 지도 중심을 기준으로 350m 크기 사각형을 그립니다.
		var centerLat = map.getCenter().lat();
		var centerLon = map.getCenter().lng();

		// 사각형 그리기 (위도, 경도 기준으로 ±0.003 정도 이동)
		var bounds = new Tmapv2.LatLngBounds(
			new Tmapv2.LatLng(centerLat + areaSize, centerLon - areaSize),
			new Tmapv2.LatLng(centerLat - areaSize, centerLon + areaSize)
		);

		// 사각형을 그리면서 유동인구 정보 받아오기
		getCongestionData(bounds, centerLat, centerLon);
	}

	// 유동인구 정보를 받아와서 사각형 색상 업데이트
	function getCongestionData(bounds, lat, lon) {
		var url = `https://apis.openapi.sk.com/tmap/puzzle/areas?format=json&appKey=IOWlgu3VCB5vrfwE0YE0w3e24rgK4g612MZZEILt&lat=${lat}&lng=${lon}`;

		$.ajax({
			method: "GET",
			url: url,
			success: function (response) {
				var congestionLevel = response.contents.congestionLevel;
				var colorObj = congestionLevelColor(congestionLevel);

				// 기존의 사각형이 있으면 제거하고 새로 그리기
				if (rect != undefined) {
					rect.setMap(null);
				}

				// 새로 사각형 그리기
				rect = new Tmapv2.Rectangle({
					bounds: bounds,
					strokeColor: "#000000", // 테두리 색상
					strokeWeight: 2.5,
					strokeOpacity: 1,
					fillColor: colorObj.color, // 사각형 내부 색상
					fillOpacity: 0.5,
					map: map // 지도 객체
				});
			},
			error: function (error) {
				console.error("Error fetching congestion data:", error);
			}
		});
	}

	// 혼잡도별 색상 함수
	function congestionLevelColor(congestionLevel) {
		var color = "";
		switch (congestionLevel) {
			case 1:
				color = "#9cf7bd"; // 여유
				break;
			case 2:
				color = "#73b7ff"; // 보통
				break;
			case 3:
				color = "#d9a8ed"; // 혼잡
				break;
			case 4:
				color = "#ff96b4"; // 매우 혼잡
				break;
		}
		return { color: color };
	}

</script>
<body onload="initTmap();">
	<div id="map_wrap" class="map_wrap3" style="height:450px">
		<div id="map_div" class="map_wrap" style='position :relative; bottom:-20px;'></div>
	</div>
</body>
</html>
