{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{% static '/css/foodBoard.css' %}">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>ANG-GGO</title>
</head>
<body>
  <!-- 헤더 부분 -->
  <header>
    <div class="inner">
      <a href="/"><span class="main_logo">로고</span></a>
      <ul>
        <a href="/map/mview/"><li>지도</li></a>
        <a href="/foodBoard/blist/"><li>맛집추천</li></a>
        <a href="/board/nboard/"><li>게시판</li></a>
        <li>예약</li>
        <li>이벤트</li>
        <li>브랜드 소개</li>
      </ul>
      <span>
        <button type="button" class="ag_my">로그인/회원가입</button>
      </span>
    </div>
    <hr>
  </header>
  <!-- 메인 실행 -->
  <main>
    <form action="#" name="mapping" method="post">
      {% csrf_token %}
      <input type="search" id="list_search" placeholder="검색어를 입력해주세요." >
      <button id="seBtn">검색</button>
    </form>
    <div class="here">
      <div class="sub_navloc">HOME&nbsp;&nbsp; <strong><i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp; 게시판</strong></div>
      <h2>서울특별시 강남구</h2>
    </div>
    <div class="board">
      <!-- 카테고리 -->
      <div class="b_category">
        <ul>
          <li><a>인기글 <img src="/static/images/heart.png" id="heart"></a></li><br>
          <li><a>전체</a></li><br>
          <li><a>추천맛집</a></li><br>
          <li><a>감성카페</a></li><br>
          <li><a>취미</a></li><br>
          <li><a>웨이팅</a></li><br>
          <li><a>실시간공유</a></li><br>
          <li><a>생활/편의</a></li><br>
          <li><a>교통</a></li><br>
          <li><a>풍경</a></li><br>
          <li><a>사건사고</a></li><br>
          <li><a>기타</a></li><br>
        </ul>
      </div>
      <!-- 게시판 -->
      <div class="nlist">
        <ul>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
          <li>
            <h3>장미공원 부근 길냥이 보신 분 ㅠ</h3>
            <p>건물 주차장에서 태어나면서부터 줄곳 자란아이입니다 갑자기 없어져서 너무 걱정됩니다 보신분 있으시...</p>
            <span>역삼1동  분실/실종  5분전</span><br>
            <span><i class="fa-regular fa-thumbs-up"></i>&nbsp;1&nbsp;&nbsp;<i class="fa-regular fa-comment"></i>&nbsp;2 </span>
          </li>
        </ul>
      </div>
      <a id="add" href="/board/bwrite/"><img src="/static/images/add.png"></a>
    </div>
  </main>
  <!-- 하단 부분 -->
  <footer>
    <div class="footer">
      <div class="ftnavi">
        <ul>
          <li><a href="">회사소개</a></li>
          <li><a href="">오시는길</a></li>
          <li><a href="">개인정보처리방침</a></li>
          <li><a href="">영상정보처리기기운영관리방침</a></li>
          <li><a href="">이용약관</a></li>
          <li><a href="">이메일무단수집거부</a></li>
        </ul>
        <div class="addr">
          <p>포레스트 리솜<span>|</span>충청북도 제천시 백운면 금봉로 365</p>
          <p class="tel">대표번호 : 043-649-6000&nbsp;&nbsp;
          <span>예약문의 : 1600-0060</span>
          <span>단체문의 : 02-6177-5999</span>
          <span>분양문의 : 02-567-5555</span>
          <span>통신판매업신고 : 2011-충북제천-0016호</span>
          </p>
          <p>메리츠화재와 개인정보 배상책임보험 계약을 체결하여 회원 개인정보를 보호하고 있습니다.</p>
          <p class="copy">COPYRIGHT(C) HOBAN HOTEL & RESORT. ALL RIGHTS RESERVED.</p>
        </div>
      </div>
      <div class="right">
        <div class="sns">
        </div>
        <div class="group">
          <select name="site_go" id="site_go" class="sel_box">
            <option value="#">패밀리사이트</option>
            <option value="https://www.ihoban.co.kr/web">호반건설</option>
            <option value="https://www.hobanapt.co.kr/web">호반베르디움</option>
          </select>
          <button type="button">GO</button>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>